---
const { item } = Astro.props;
---
<article class="card hover:bg-gray-300">
    <div class="portfolio-item--text">
        <h2>{item.title}</h2>
        <figure class="pb-2">
            <picture>
                <img width="600" height="450" loading="lazy" class="w-full border border-black" src=`/assets/sites/${item.jpg}` alt=`Screenshot of ${item.title}` />
            </picture>
        </figure>
            {item.description ?
                <p class="italic mb-4">{item.description}</p>
            :
                null }
            {item.link &&
                <a class="text-2xl mt-4 py-2 px-4 bg-mid-green text-white font-semibold shadow-md hover:bg-light-green hover:text-black no-underline" href={item.link} target="_blank" rel="noopener noreferrer">See this site</a>
            }
    </div>
</article>
