---
import site from "../data/site.json";
import SkillItem from './SkillItem.astro';
const title = `Skills`;
const proficient = `Proficient in`;
const comfortable = `Comfortable with`;
const learning = `Learning`;
const copy = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac felis donec et odio pellentesque diam volutpat. Consectetur purus ut faucibus pulvinar elementum integer enim. Sollicitudin ac orci phasellus egestas tellus rutrum tellus. Quis lectus nulla at volutpat diam. Convallis aenean et tortor at risus viverra. ";
const {skills, likes} = site;
---
<section>
    <div class="grid grid-cols-2 lg:grid-cols-3">
        <article class="card">
            <h2>{title}</h2>
            <p>{copy}</p>
        </article>
        <article class="card">
            <h3>{proficient}</h3>
            <ul>
            {skills.proficient.map((item) => (
                <SkillItem item={item} />
            ))}
            </ul>
        </article>
        <article class="card">
            <h3>{comfortable}</h3>
            <ul>
            {skills.comfortable.map((item) => (
                <SkillItem item={item} />
            ))}
            </ul>
        </article>
        <article class="card">
            <h3>{learning}</h3>
            <ul>
            {skills.learning.map((item) => (
                <SkillItem item={item} />
            ))}
            </ul>
        </article>
        <article class="card">
            <h3>Interests</h3>
            <ul>
            {likes.map((item) => (
                <li>{item}</li>
            ))}
            </ul>
        </article>
    </div>
</section>

